@import "../../../assets/styles/setup/variables.scss";

.main-header {
    .top-header {
        height: 45px;
        img {
            justify-self: flex-end;
            width: 30px;
            color: white;
        }
        background-color: $clr1;
    }
    .botom-header {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 350px;
            margin-left: 25px;
        }
        nav {
            display: flex;
            align-items: center;
            > a:not(:last-child) {
                margin-right: 25px;
            }
            > a:last-child {
                margin-right: 100px;
            }
            a.active {
                color: $clr1;
            }
        }
    }
}
