@import "../../../assets/styles/setup/variables.scss";
@import "../../../assets/styles/setup/mixins";

.main-header {
    margin-bottom: 40px;
    .top-header {
        height: 45px;
        img {
            justify-self: flex-end;
            color: white;
            max-width: 30px;
        }
        background-color: $clr1;
    }
    .botom-header {
        display: flex;
        justify-content: space-between;
        .logo {
            margin-left: 25px;
            max-width: 150px;
            @include for-narrow-layout {
                max-width: 350px;
            }
        }
        nav {
            display: flex;
            align-items: center;
            > a:not(:last-child) {
                margin-right: 25px;
            }
            > a:last-child {
                margin-right: 100px;
            }
            a.active {
                color: $clr1;
            }
        }
    }
}
