<header class="main-header ">
  <div class="top-header flex align-center">
    <img src="./././assets/img/cart.jpg">
  </div>
  <div class="botom-header {{menuOpenClass}}">
    <img class="logo pointer" src="./././assets/img/logo.JPG" routerLink="">
    <div class="screen" (click)="toggleMenu()"></div>
    <nav class="flex">
      <a routerLink="/rubber-ducks/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        (click)="onShowAllDucks()" (click)="toggleMenu()">
        Ducks
      </a>
      <a routerLink="/rubber-ducks/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        (click)="toggleMenu()">
        Cart
      </a>
      <a routerLink="/rubber-ducks/reviews" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        (click)="toggleMenu()">
        Reviews
      </a>
    </nav>
    <button class="btn-menu-toggle" (click)="toggleMenu()">☰</button>
  </div>

</header>