<section class="add-review ">
    <form (ngSubmit)="onSaveReview()" class="flex direction-col">
        <div>
            <label for="name">Name: </label>
            <input type="search" id="name" name="name" [(ngModel)]="review.name" required>
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea name="description" id="description" [(ngModel)]="review.description"></textarea>
        </div>
        <rating (selectedRatingValue)="onSelectRating($event)"></rating>
        <button>Add</button>
        <p class="error" [hidden]="!isError"> **All field are required</p>
    </form>
</section>