.side-bar {
    width: 200px;
    h4 {
        font-size: 1.125rem;
    }
    li {
        margin-bottom: 7px;
        font-size: 0.875rem;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
}
