<section class="cart-preview flex align-center">
    <div class="flex align-center ">
        <button (click)="onDeleteItem()">X</button>
        <img class="pointer" (click)="onItemClick()" src="{{cartItem.item.img}}">
        <p class="pointer" (click)="onItemClick()">{{cartItem.item.name}}</p>
    </div>
    <div class="flex align-center">
        <p>Price: € {{cartItem.item.price}}</p>
        <input type="number" name="quantity" [(ngModel)]="cartItem.quantity" min="1">
        <p>Subtotal: € {{itemSubtotal}}</p>
    </div>
</section>