// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.direction-col {
        flex-direction: column;
    }

    &.direction-row {
        flex-direction: row;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.items-flex-start {
        align-items: flex-start;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}
.width-100 {
    width: 100%;
}
.clean-list {
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
}

.pointer:hover {
    cursor: pointer;
}

// COLORS:

.clr1 {
    background-color: $clr1;
}

.clr2 {
    background-color: $clr2;
}

.clr3 {
    background-color: $clr3;
}

.clr4 {
    background-color: $clr4;
}
