<section class="cart-totals">
    <h2>Cart totals</h2>
    <div class="table flex">
        <ul class="titles clean-list">
            <li>Subtotal</li>
            <li>Shpping</li>
            <li>Total</li>
        </ul>
        <ul class="clean-list">
            <li>€ {{cartTotalPrice}}</li>
            <li>Standard: € 21,30</li>
            <li class="total">€ {{cartTotalPrice+21.30}}</li>
        </ul>
    </div>
    <div class="place-order flex align-center justify-center pointer" (click)="onPlaceOrder()">
        Place Order
    </div>
</section>