@import "../../../../styles.scss";

.cart-order-msg {
    > div {
        text-align: right;
        margin-bottom: 20px;
        &:hover {
            opacity: 0.8;
        }
    }
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid $clr4;
    padding: 30px;
    display: grid;
    place-content: center;
    background-color: #fff;
}
