// RibeyeMarrow
@font-face {
    font-family: RibeyeMarrow-Regular;
    src: url(../../../assets/fonts/RibeyeMarrow/RibeyeMarrow-Regular.ttf);
}

// Open Sans
@font-face {
    font-family: OpenSans-Regular;
    src: url(../../../assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(../../../assets/fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(../../../assets/fonts/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../../../assets/fonts/OpenSans/OpenSans-Bold.ttf);
}

// SourceSansPro
@font-face {
    font-family: SourceSansPro-Black;
    src: url(../../../assets/fonts/SourceSansPro/SourceSansPro-Black.ttf);
}
@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: SourceSansPro-Semi;
    src: url(../../../assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf);
}
@font-face {
    font-family: SourceSansPro-Reg;
    src: url(../../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SourceSansPro-Light;
    src: url(../../../assets/fonts/SourceSansPro/SourceSansPro-Light.ttf);
}
