// Breakpoints
$mobile-breakpoint: 750px;
$narrow-breakpoint: 950px;
$normal-breakpoint: 1200px;

// Colors
// MAIN COLOR:
$fontColor: #515151;

// LABELS COLORS:
$clr1: #df2b20;
$clr2: #f7c500;
$clr3: #7ad03a;
$clr4: #2ea2cc;
