@import "../../../assets/styles/setup/variables.scss";
@import "../../../assets/styles/setup/mixins.scss";
@import "../../../assets/styles/setup/functions";

.duck-details {
    // max-width: 700px;
    .product-details {
        flex-direction: column;
        margin-bottom: 15px;
        > div {
            margin-right: 35px;
        }
        .price {
            padding: 0;
        }
        .duck-img {
            max-width: 500px;
        }
        @include for-narrow-layout {
            flex-direction: row;
        }
        button {
            margin-right: 15px;
        }
        .user-msg {
            transition: opacity 0.7s;
            color: $clr1;
            &.display {
                opacity: 1;
            }
            &.hidden {
                opacity: 0;
            }
        }
    }
    .visa {
        max-width: 400px;
        margin-bottom: 20px;
    }
    .ce {
        margin-bottom: 15px;
        img {
            width: 60px;
        }
        p {
            padding: 0;
        }
    }

    .red {
        color: $clr1;
    }
    .green {
        color: $clr3;
    }
}
