@import "../../../assets/styles/setup/variables.scss";
@import "../../../assets/styles/setup/functions.scss";

.main-footer {
    background-color: $clr5;
    color: white;
    .footer-logo {
        p {
            margin-bottom: 0 0 15px;
            padding: 0;
            font-size: 0.9rem;
        }
        img {
            width: 50px;
        }
    }
    .footer-desc {
        text-align: center;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .social-links {
        margin-bottom: 25px;
        img {
            width: 25px;
        }
        li {
            margin-right: 20px;
        }
    }
    .bottom-footer {
        background-color: $clr2;
        height: 50px;
    }
}
