<footer class="main-footer">
  <div class="footer-logo flex direction-col align-center">
    <p>
      &copy; Rubber Ducky by Michael Uzan
    </p>
    <img src="./././assets/img/logoIcon.png">
  </div>
  <div class="footer-desc">
    <p>
      Frontend Angular Project - Online shop clone to <a target="_blank"
        href="https://www.amsterdamduckstore.com/">Amsterdam Duck
        Stroe.</a>
    </p>
    <ul class="social-links clean-list flex direction-row justify-center">
      <li>
        <a target="_blank" href="https://github.com/Michael-Uzan">
          <img src="./././assets/img/github-logo.png">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/michael-uzan-ab637071/">
          <img src="./././assets/img/linkedin-logo.png">
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-footer">

  </div>
</footer>