<section class="filter">
    <input type="search" placeholder="Search Duck" [(ngModel)]="filterBy.name" (ngModelChange)="onSetFilter()">
    <input type="number" placeholder="Max Price" [(ngModel)]="filterBy.maxPrice" (ngModelChange)="onSetFilter()">
    <label for="only-stock">Only in stock</label>
    <input id="only-stock" type="checkbox" [(ngModel)]="filterBy.onlyInStock" (ngModelChange)="onSetFilter()">
    <!-- <select name="categories" multiple id="" [(ngModel)]="filterBy.categories" (ngModelChange)="onSetFilter()">
        <option value="scary">Scary</option>
        <option value="celebs">Celeberty</option>
    </select> -->
</section>